.container {
    border-style: dotted;
    border-color: brown;
}

.row {
    border-style: dotted;
    border-color: green;
}

.col {
    border-style: dotted;
    border-color: red;
}

#left {
    background-color: aqua;
}

#right {
    background-color: beige;
}
